body{
	background-color: #A9A9A9;
}
h1{
  width: 100%;
  height: 100px;
  background-color: gray;
  margin:0 auto;
  top:40px;
}
.cont{
  float:right;
}
a:link {
    color: blue;
    background-color: red;
    text-decoration: none;
}
a:visited {
    color: green;
    background-color: white;
    text-decoration: none;
}
a:hover {
    color:maroon ;
    background-color: green;
    text-decoration: underline;
}
a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}

